html {
    background-color: black;
    
}
ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 16px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  nav a:hover {
    color: orange;
  }
  .inicio {
    padding: 0px 300px;
  }
  a {
    color: white;
    text-decoration: none;  
  }
  img {
    height: 150px;
  width: 150px;
  display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0px;
  }
